[user]
	name  = Joshua Wilborn
	email = jwilborn@extron.com
[alias]
  tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Cblue - %cn %Creset' --abbrev-commit --date=relative
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[core]
  editor = vim
  excludesfile = /home/jwilborn/.gitignore_global
[credential]
  helper = store
[pull]
	ff = only
